.control-container{
    display: flex;

}

div.flexbox {
    height: 100%;
}

div.customControl {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
div.customControl svg {
    width: 100%;
    height: 100%;
}

.pcfControl
{
    width: 100%;
    height: 100%;
}

svg.element.style{
    max-width: 100%;
}